:root {
  --background-color-one: #bdbdbd;
  --color-one: #000000;
  --background-color-two: #323232;
  --color-two: #f7f7f7;
  --color-three: #222222;
  --color-four: #f7f7f7;
  --color-five: #cbcbcb;
  --color-six: #232323;
  --color-seven: #d5d5d5;
  --color-eight: #ffffff;
  --color-nine: #070707;
  --color-ten: rgba(0, 0, 0, 0.85);
  --color-eleven: rgba(7, 7, 7, 0.98);
  --color-twelve: #f2f2f2;
  --color-thirteen: #000000;
  --color-fourteen: #1c1c1c;
  --color-fifteen: rgb(255, 255, 255);
  --color-sixteen: rgba(242, 242, 242, 0.75);
  --color-twenty: #f2f2f2;
  --background-color-twenty: #2f6dff;
  --color-thirty: rgba(0, 0, 0, 0.125);
  --color-fourty: rgba(226, 226, 226, 0.85);
  overscroll-behavior: contain;
}

body.dark-mode {
  --background-color-one: #000000;
  --color-one: #f0f0f0;
  --background-color-two: #000000;
  --color-two: #000000;
  --color-three: #d6d6d6;
  --color-four: #070707;
  --color-five: #707070;
  --color-six: #dddddd;
  --color-seven: #171717;
  --color-eight: black;
  --color-nine: #eaeaea;
  --color-ten: rgba(255, 255, 255, 0.85);
  --color-eleven: rgba(240, 240, 240, 0.98);
  --color-twelve: #000000;
  --color-thirteen: #ffffff;
  --color-fourteen: #e3e3e3;
  --color-fifteen: rgb(0, 0, 0);
  --color-sixteen: rgba(0, 0, 0, 0.75);
  --color-twenty: #000000;
  --background-color-twenty: #0400ff;
  --color-thirty: rgba(0, 0, 0, 0.125);
  --color-fourty: rgba(0, 0, 0, 0.85);
}

@font-face {
  font-family: "Disket-Mono-Regular";
  src: url("./Disket/Disket-Mono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Disket-Mono-Bold";
  src: url("./Disket/Disket-Mono-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.dm-mono-light,
.dm-mono-regular,
.dm-mono-medium,
.dm-mono-light-italic,
.dm-mono-regular-italic,
.dm-mono-medium-italic {
  font-family: "Disket-Mono-Regular", "DM Mono", monospace;
  font-weight: inherit;
  font-style: inherit;
}

/* LOADING ANIMATION */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.bar {
  width: 10vw;
  height: 105vh;
  background: var(--background-color-one, #f2f2f2);
  margin: 0;
  padding: 0;
}

/* --------------------------------------------- */
/* Base styles */
/* --------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Disket-Mono-Regular", "DM Mono", monospace;
  background-color: var(--background-color-one);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 4em 6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  font-size: 12px;
}

footer p {
  color: var(--color-one);
  font-size: 12px;
  font-family: "Disket-Mono-Regular", "DM Mono", monospace;
}

p {
  color: var(--color-one);
  font-size: 12px;
  font-family: "Disket-Mono-Regular", "DM Mono", monospace;
}

.slider-counter {
  display: flex;
}

.slider-counter p,
.slider-counter > div {
  width: 24px;
  display: flex;
  justify-content: center;
}

.count {
  position: relative;
  height: 18px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.count p {
  position: absolute;
  transform: translateY(0px);
  font-size: 12px;
  line-height: 1;
  will-change: transform;
  opacity: 1;
}

.slider {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  will-change: clip-path;
  opacity: 0.3;
}

.slide-bg-img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--color-thirty);
}

.borderdiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 50%;
  border: 1px solid var(--color-one);
  background-color: transparent;
  z-index: 3;
}

.slide-main-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 50%;
  z-index: 2;
  opacity: 0.8;
}

.slide-main-img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  will-change: clip-path;
}

.slide-main-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.metainfo {
  position: absolute;
  display: flex;
  justify-content: space-between;
  color: var(--color-one);
  z-index: 2000;
  width: 100%;
  font-family: "Disket-Mono-Regular", "DM Mono", monospace;
  height: 40%;
}

.metatitleone {
  width: 50%;
  border-right: var(--color-one) 1px solid;
  padding: 10px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.metatitletwo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
  padding: 10px;
  font-size: 10px;
}

.metaclass {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  color: var(--color-one);
  z-index: 2000;
  width: 100%;
  font-family: "Disket-Mono-Regular", "DM Mono", monospace;
  height: 38%;
  top: 62%;
}

.metaone {
  width: 33.3%;
  border-right: var(--color-one) 1px solid;
  padding: 10px;
  font-size: 10px;
}

.metatwo {
  width: 33.3%;
  border-right: var(--color-one) 1px solid;
  padding: 10px;
  font-size: 10px;
  font-family: "Disket-Mono-Regular", "DM Mono", monospace;
}

.metathree {
  width: 33.3%;
  padding: 10px;
  font-size: 10px;
  color: var(--color-one);
  font-family: "Disket-Mono-Regular", "DM Mono", monospace;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 20000;
}

.slide-copy {
  position: absolute;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: var(--color-one);
  z-index: 2;
  width: auto;
  top: 45%;
  left: 20vw;
  right: 20vw;
  border-top: 1px solid var(--color-one);
  border-bottom: 1px solid var(--color-one);
  height: 11%;
  font-family: "Disket-Mono-Bold", "DM Mono", monospace;
}

.slide-title {
  position: relative;
  width: 500px;
  height: 50px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  display: flex;
  align-items: center;
}

.slide-title h1 {
  position: absolute;
  color: var(--color-one);
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  transform: translateY(0px);
  will-change: transform;
}

@media (max-width: 900px) {
  .borderdiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 50%;
    border: 1px solid var(--color-one);
    z-index: 3;
  }

  .slide-main-img {
    width: 80%;
  }

  .slide-copy {
    left: 10vw;
    right: 10vw;
    border-left: none;
    border-right: none;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    font-family: "Disket-Mono-Regular", "DM Mono", monospace;
    font-size: 12px;
  }
}

/* Dark Mode Toggle */
body.dark-mode {
  background-color: rgb(0, 0, 0);
  color: white;
}

/* Fixed header container with the dark mode button & burger */
.fixed-box {
  position: fixed;
  top: 20px;
  left: 3vw;
  right: 3vw;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  border: 1px solid var(--color-one);
  padding-left: 6px;
  padding-right: 6px;
  font-family: "Disket-Mono-Regular", "DM Mono", monospace;
  font-size: 12px;
}

.big-box {
  position: fixed;
  top: 80px;
  bottom: 20px;
  left: 3vw;
  right: 3vw;
  z-index: 10;
  border: 1px solid var(--color-one);
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 6px;
}

/* Dark Mode Button (circle with two halves) */
#darkModeButton {
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 1px solid var(--color-one);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.circle {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--color-one);
}

.half {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  opacity: 1;
}

.left {
  left: 0;
  border-top-left-radius: 7.5px;
  border-bottom-left-radius: 7.5px;
  background-color: transparent !important;
}

.right {
  right: 0;
  border-top-right-radius: 7.5px;
  border-bottom-right-radius: 7.5px;
  background-color: var(--color-one) !important;
}

/* The clickable logo text (center-text) */
.center-text {
  text-decoration: none;
  color: var(--color-one);
  font-size: 12px;
  cursor: pointer;
  font-family: "Disket-Mono-Bold", "DM Mono", monospace;
}

/* Burger button */
.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--color-one);
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.square-container {
  display: flex;
  gap: 5px;
  transition: flex-direction 0.3s ease;
}
.square-one,
.square-two {
  width: 4px;
  height: 4px;
  background-color: var(--color-one);
}
.burger.rotate .square-container {
  flex-direction: column;
}

/* Menu Overlay / Slide-down Bars */
.menu-overlay {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(0px);
  transition: background-color 0.5s, backdrop-filter 0.5s;
  z-index: 10;
  overflow: hidden;
}
.menu-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  z-index: 1;
  overflow: hidden;
}
.menu-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-left: 3vw;
  margin-right: 3vw;
}
.menu-line {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 8px;
  height: 110px;
  width: 94vw;
  border: 1px solid var(--color-one);
  transform: translateX(100%);
  margin-bottom: 20px;
  background-color: var(--color-fourty);
}
.menu-title {
  color: var(--color-one);
  font-size: 28px;
  margin: 10px 0;
  font-weight: bold;
  text-decoration: none;
  font-family: "Disket-Mono-Bold", "DM Mono", monospace;
}

a {
  text-decoration: none;
}

.menu-title.one {
  font-size: 28px;
}
.menu-title.two {
  font-size: 16px;
}
.noise {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.05;
}

/* Optionally, you can also place the .menu-open class definition in your main CSS file: */
.fixed-box.menu-open {
  background-color: var(--color-fourty);
  border: 1px solid var(--color-one);
  transition: background-color 0.6s ease;
}

/* Red overlay for the main image */
.red-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1); /* Red color with 0.5 opacity */
  pointer-events: none; /* Allow clicks to pass through */
}

/* Add media query for larger screens */
@media (min-width: 900px) {
  .menu-line {
    width: 47vw;
    margin-left: auto; /* Aligns the menu lines to the right edge */
  }
  .menu-title {
    color: var(--color-one);
    font-size: 34px;
    margin: 10px 0;
    font-weight: bold;
    font-family: "Disket-Mono-Regular", "DM Mono", monospace;
  }
  .menu-title.one {
    font-size: 38px;
  }
  .menu-title.two {
    font-size: 20px;
  }
}

/* Style for the Read More button */
.slide-symbol {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 25px;
  padding: 6px;
  background-color: transparent;
  color: var(--color-one);
  cursor: pointer;
  border-right: 1px solid var(--color-one);
  border-top: 1px solid var(--color-one);
  border-left: none;
  border-bottom: none;
  box-shadow: none;
  outline: none;
  font-family: "Disket-Mono-Regular", "DM Mono", monospace;
  overflow: hidden; /* Hide overflowing content */
}

.slide-symbol span {
  position: absolute;
  bottom: 0; /* Position at the bottom */
  left: 0; /* Position to the left */
  text-align: left;
  will-change: transform, opacity;
  font-size: 12px;
}

.metatitleone p,
.metatitletwo p {
  font-size: 10px;
}
