:root {
  --background-color-one: #f2f2f2;
  --color-one: #070707;
  --background-color-two: #323232;
  --color-two: #f7f7f7;
  --color-three: #222222;
  --color-four: #f7f7f7;
  --color-five: #cbcbcb;
  --color-six: #1d1d1d;
  --color-seven: #d5d5d5;
}

body.dark-mode {
  --background-color-one: #000000;
  --color-one: #f0f0f0;
  --background-color-two: #000000;
  --color-two: #000000;
  --color-three: #d6d6d6;
  --color-four: #070707;
  --color-five: #707070;
  --color-six: #e1e1e1;
  --color-seven: #171717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

html {
  overflow-y: auto;
  overflow-x: auto;
  scroll-behavior: smooth;
  background-color: var(--color-one);
}

body {
  background-color: var(--color-one);
  touch-action: manipulation;
  opacity: 0.95;
}

header, main {
  padding-left: 25vw;
  padding-right: 25vw;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0; 
}

.bar {
  width: 10vw; 
  height: 105vh;
  background: var(--background-color-one);
  margin: 0; 
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 83%;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

#bck {
  position: fixed;
  z-index: -1;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  margin: 0 auto;
  width: 83%;
}

.grid-item {
  border-left: 1px dashed var(--color-six);
  border-right: 1px dashed var(--color-six);
  min-height: 100dvh;
}

.fixed-box {
  position: fixed;
  border: 1px solid #ffff;
  top: 20px;
  left: 25vw;
  right: 25vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  padding-left: 6px;
  padding-right: 6px;
  height: 35px;
  mix-blend-mode: difference;
}

.fixed-box button {
  height: 25px;
  width: 25px;
  background-color: var(--color-one);
  border: 1px solid var(--background-color-one);
  touch-action: manipulation;
}

.fixed-box a.center-text {
  text-decoration: none;
  font-family: monospace;
  color: #ffffff;
  font-size: 14px;
}

#darkModeButton {
  color: var(--background-color-one);
  touch-action: manipulation;
}

#upButton a {
  color: var(--background-color-one);
  text-decoration: none; /* This removes the underline */
}

h2 {
  font-size: 20px;
  padding-top: 80px;
  padding-bottom: 20px;
  text-align: left;
  overflow: hidden;
  color: var(--color-seven);
}

h3,
h4 {
  color: var(--color-seven);
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  color: var(--color-seven);
  text-decoration: none;
}

hr {
  border: 0.75px solid var(--color-seven);
}

.hljs {
  border-radius: 2px;
  font-family: JetBrains Mono, monospace;
  font-size: 14px;
}

p, ol {
  text-align: justify;
  font-size: 16px;
  color: var(--color-seven);
}

ol, li {
  margin: 8px;
}

table {
  width: 100%;
  table-layout: fixed;
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px solid var(--background-color-one);
  padding: 6px;
}
.tableletters {
  background-color: var(--color-three);
  color: var(--color-seven);
}
.expandable-row-content {
  display: none;
}
.clickable {
  cursor: pointer;
  color: var(--color-seven);
  t
}
.clickable:hover {
  text-decoration: none;
}
.clickable::after {
  content: " \25BC"; /* Down-pointing triangle, indicating expandable */
  font-size: 0.8em;
}
.expanded::after {
  content: " \25B2"; /* Up-pointing triangle, indicating collapsible */
}

.ascii-art {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Optional: Add space above the ASCII art */
  color: var(--color-seven); /* Use the defined color variable */
}

/* Hide mobile art by default */
.ascii-art-mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  header, main {
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .fixed-box {
    top: 20px;
    left: 3vw;
    right: 3vw;
    padding-left: 8px;
    padding-right: 8px;
    height: 40px;
  }

  .container {
    width: 94%;
  }
  
  .grid-container {
    grid-template-columns: repeat(10, 1fr);
    width: 94%;
  }

  table, th, td {
    padding: 8px;
  }
  
  .fixed-box button {
    height: 25px;
    width: 25px;
    background-color: var(--color-one);
    border: 1px solid var(--background-color-one);
  
  }
  
  .fixed-box a.center-text {
    text-decoration: none;
  }


  h2 {
    padding-top: 80px;
  }
  .ascii-art-desktop {
    display: none;
  }

  .ascii-art-mobile {
    display: block;
  }
}
