:root {
  --background-color-one: #f7f7f7;
  --color-one: #000000;
  --background-color-two: #323232;
  --color-two: #f7f7f7;
  --color-three: #2f2f2f;
  --color-four: #f7f7f7;
  --color-five: #cbcbcb;
}

body.dark-mode {
  --background-color-one: #000000;
  --color-one: #ffffff;
  --background-color-two: #000000;
  --color-two: #000000;
  --color-three: #000000;
  --color-four: #ffffff;
  --color-five: #707070;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

html {
  overflow-y: auto;
  overflow-x: auto;
  scroll-behavior: smooth;
  background-color: var(--color-one);
}

body {
  background-color: var(--color-one);
  touch-action: manipulation;
}

header, main {
  padding-left: 25vw;
  padding-right: 25vw;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0; 
}

.bar {
  width: 10vw; 
  height: 105vh;
  background: var(--background-color-one);
  margin: 0; 
  padding: 0;
}

.fixed-box {
  position: fixed;
  border: 1px solid #ffff;
  top: 20px;
  left: 25vw;
  right: 25vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  padding-left: 6px;
  padding-right: 6px;
  height: 35px;
  mix-blend-mode: difference;
}

.fixed-box button {
  height: 25px;
  width: 25px;
  background-color: var(--color-one);
  border: 1px solid var(--background-color-one);
  touch-action: manipulation;
}

.fixed-box a.center-text {
  text-decoration: none;
  font-family: monospace;
  color: #ffffff;
}

#darkModeButton {
  color: var(--background-color-one);
  touch-action: manipulation;
}

h2 {
  font-size: 20px;
  padding-top: 80px;
  padding-bottom: 20px;
  text-align: left;
  overflow: hidden;
  color: var(--background-color-one);
}

h3,
h4 {
  color: var(--background-color-one);
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  color: var(--background-color-one);
  text-decoration: none;
}

hr {
  border: 0.75px solid var(--background-color-one);
}

.hljs {
  border-radius: 5px;
  font-family: JetBrains Mono, monospace;
  font-size: 14px;
}

p, ol {
  text-align: justify;
  font-size: 16px;
  color: var(--background-color-one);
}

ol, li {
  margin: 8px;
}

table {
  width: 100%;
  table-layout: fixed;
}
table,
th,
td {
  border-collapse: collapse;
  border: 1px solid var(--background-color-one);
  padding: 6px;
}
.tableletters {
  background-color: var(--color-three);
  color: var(--color-four);
}
.expandable-row-content {
  display: none;
}
.clickable {
  cursor: pointer;
  color: var(--background-color-one);
  t
}
.clickable:hover {
  text-decoration: none;
}
.clickable::after {
  content: " \25BC"; /* Down-pointing triangle, indicating expandable */
  font-size: 0.8em;
}
.expanded::after {
  content: " \25B2"; /* Up-pointing triangle, indicating collapsible */
}

.ascii-art {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Optional: Add space above the ASCII art */
  color: var(--background-color-one); /* Use the defined color variable */
}

/* Hide mobile art by default */
.ascii-art-mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  header, main {
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .fixed-box {
    top: 20px;
    left: 3vw;
    right: 3vw;
    padding-left: 8px;
    padding-right: 8px;
    height: 40px;
  }

  table, th, td {
    padding: 8px;
  }
  
  .fixed-box button {
    height: 25px;
    width: 25px;
    background-color: var(--color-one);
    border: 1px solid var(--background-color-one);
  
  }
  
  .fixed-box a.center-text {
    text-decoration: none;
  }


  h2 {
    padding-top: 80px;
  }
  .ascii-art-desktop {
    display: none;
  }

  .ascii-art-mobile {
    display: block;
  }
}
