:root {
  --background-color-one: #f2f2f2;
  --color-one: #070707;
  --background-color-two: #323232;
  --color-two: #f7f7f7;
  --color-three: #222222;
  --color-four: #f7f7f7;
  --color-five: #cbcbcb;
  --color-six: #232323;
  --color-seven: #d5d5d5;
  --color-eight: #ffffff;
  --color-nine: #070707;
  --color-ten: rgba(0, 0, 0, 0.85);
  --color-eleven: rgba(7, 7, 7, 0.98);
  --color-twelve: #f2f2f2;
  --color-thirteen: #000000;
  --color-fourteen: #1c1c1c;
  --color-fifteen: rgb(255, 255, 255);
  --color-sixteen: rgba(242, 242, 242, 0.75);
  overscroll-behavior: contain;
}

body.dark-mode {
  --background-color-one: #000000;
  --color-one: #f0f0f0;
  --background-color-two: #000000;
  --color-two: #000000;
  --color-three: #d6d6d6;
  --color-four: #070707;
  --color-five: #707070;
  --color-six: #dddddd;
  --color-seven: #171717;
  --color-eight: black;
  --color-nine: #eaeaea;
  --color-ten: rgba(255, 255, 255, 0.85);
  --color-eleven: rgba(240, 240, 240, 0.98);
  --color-twelve: #000000;
  --color-thirteen: #ffffff;
  --color-fourteen: #e3e3e3;
  --color-fifteen: rgb(0, 0, 0);
  --color-sixteen: rgba(0, 0, 0, 0.75);
}

.dm-mono-light {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.dm-mono-medium {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.dm-mono-light-italic {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.dm-mono-regular-italic {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.dm-mono-medium-italic {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: italic;
}

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Teko-Variable"; /* Name of the font */
  src: url("WEB/fonts/Teko-Variable.woff2") format("woff2"),
    /* Path to the font file in .woff2 format */
      url("WEB/fonts/Teko-Variable.woff") format("woff"),
    /* Path to the font file in .woff format */
      url("WEB/fonts/Teko-Variable.ttf") format("truetype"); /* Path to the font file in .ttf format */
  font-weight: 300 700; /* Font weight (regular is typically 400) */
  font-style: normal; /* Font style (normal or italic) */
  font-display: swap; /* Control how font loads (optional but recommended) */
}

@media (min-width: 601px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
  }

  html {
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: monospace, "Times New Roman", Times, serif;
    overscroll-behavior: contain;
  }

  body {
    touch-action: manipulation;
    margin: 0;
    background-color: var(--color-thirteen);
    overscroll-behavior: contain;
    min-height: 100%;
    overflow: hidden;
    z-index: -2;
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }

  .anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  body.no-scroll {
    overflow: hidden;
  }

  header,
  main {
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .main-container {
    display: flex;
    flex-direction: row;
    align-items: top;
    height: 100%;
    width: 100%;
  }

  .left-section {
    display: flex;
    width: 29.33vw;
    height: 86vh;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
  }

  .left-title {
    height: 36.5px;
    font-size: 16px;
    color: var(--background-color-one);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 0;
    font-weight: bold;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }

  .left-image {
    height: 200px;
  }

  #cubeCanvas {
    width: 100%;
    height: 100%;
    margin-top: 14px;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
  }

  .left-index {
    height: 400px;
  }

  .navigation-title {
    font-size: 16px;
    color: var(--background-color-one);
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
  }

  .navigation-container {
    display: flex;
    color: var(--background-color-one);
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
    font-size: 16px;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }

  .titleindex {
    font-size: 16px;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }

  .navigation-container:hover {
    background-color: var(--background-color-one);
    color: var(--color-one);
    .titleindex {
      color: var(--color-one);
    }
  }

  [id] {
    scroll-margin-top: 76px;
  }

  .right-section {
    width: 62.66vw;
    margin-left: 31.33vw;
  }

  h2 {
    display: none;
  }

  .update {
    display: none;
  }

  .noise {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;
    opacity: 0.05;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .bar {
    width: 10vw;
    height: 105vh;
    background: var(--background-color-one);
    margin: 0;
    padding: 0;
  }

  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10; /* Adjust as needed */
    overflow: hidden;
    pointer-events: none; /* Disable interaction when menu is closed */
    background-color: transparent;
    backdrop-filter: blur(0px);
    transition: background-color 0.5s, backdrop-filter 0.5s;
  }

  /* Menu Bar Styles */
  .menu-bar {
    position: absolute;
    top: 0;
    right: 0; /* Align to the right edge */
    width: 100%; /* Adjust as needed */
    height: 100%; /* Full height */
    transform: translateX(100%); /* Start off-screen to the right */
    z-index: 1; /* Below the menu content */
    overflow: hidden; /* Clip overflowing content */
  }

  .menu-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-left: 3vw;
    margin-right: 3vw;
  }

  .menu-line {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 8px;
    height: 125px;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in width */
    border: 1px solid var(--background-color-one);
    margin-bottom: 10px;
    background-color: var(--color-one);
  }

  /* Menu Title Styles */
  .menu-title {
    color: var(--background-color-one); /* Text color */
    font-size: 25px; /* Font size */
    margin: 15px 5px; /* Spacing around titles */
    font-weight: bold;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }

  .menu-title.one {
    font-size: 50px; /* Font size */
  }

  .fixed-box {
    position: fixed;
    border: 1px solid #f2f2f2;
    top: 20px;
    left: 3vw;
    right: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    padding-left: 6px;
    padding-right: 6px;
    height: 35px;
    mix-blend-mode: difference;
  }

  .fixed-box a.center-text {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 16px;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
  }

  #darkModeButton {
    color: var(--color-fifteen);
    background-color: transparent;
    touch-action: manipulation;
    border: solid 1px #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .circle {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
  }

  .half {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    transition: background-color 0.2s ease;
  }

  .left {
    left: 0;
    border-right: none;
    border-left-width: 1px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }

  .right {
    right: 0;
    border-left: none;
    border-right-width: 1px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
  }

  .center-text {
    display: inline-block;
    cursor: pointer;
  }

  .fixed-box button {
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 1px solid #f2f2f2;
    touch-action: manipulation;
  }

  .burger {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  .square-container {
    position: relative;
    width: 20px;
    height: 20px;
  }

  .square-one,
  .square-two {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #f2f2f2;
  }

  /* Initial Positions */
  .square-one {
    left: 4px;
    top: 8px;
  }

  .square-two {
    left: 12px;
    top: 8px;
  }

  /* Keyframes for Square One */
  @keyframes moveSquareOne {
    0% {
      left: 4px;
      top: 8px;
    }
    25% {
      left: 5px;
      top: 7px;
    }
    50% {
      left: 6px;
      top: 6px;
    }
    75% {
      left: 7px;
      top: 5px;
    }
    100% {
      left: 8px;
      top: 4px;
    }
  }

  /* Keyframes for Square Two */
  @keyframes moveSquareTwo {
    0% {
      left: 12px;
      top: 8px;
    }
    25% {
      left: 11px;
      top: 9px;
    }
    50% {
      left: 10px;
      top: 10px;
    }
    75% {
      left: 9px;
      top: 11px;
    }
    100% {
      left: 8px;
      top: 12px;
    }
  }

  /* Reverse Keyframes for Square One */
  @keyframes moveSquareOneReverse {
    0% {
      left: 8px;
      top: 4px;
    }
    25% {
      left: 7px;
      top: 5px;
    }
    50% {
      left: 6px;
      top: 6px;
    }
    75% {
      left: 5px;
      top: 7px;
    }
    100% {
      left: 4px;
      top: 8px;
    }
  }

  /* Reverse Keyframes for Square Two */
  @keyframes moveSquareTwoReverse {
    0% {
      left: 8px;
      top: 12px;
    }
    25% {
      left: 9px;
      top: 11px;
    }
    50% {
      left: 10px;
      top: 10px;
    }
    75% {
      left: 11px;
      top: 9px;
    }
    100% {
      left: 12px;
      top: 8px;
    }
  }

  h2 {
    font-size: 16px;
    padding-top: 85px;
    padding-bottom: 25px;
    text-align: left;
    overflow: hidden;
    color: var(--color-seven);
  }

  h3 {
    color: var(--color-seven);
    padding-top: 7.5px;
    padding-bottom: 20px;
    font-size: 14px;
  }

  h4 {
    color: var(--color-seven);
    padding-top: 20px;
    padding-bottom: 0;
    font-size: 14px;
  }

  a {
    color: var(--color-seven);
    text-decoration: none;
    font-size: 12.5px;
  }

  .custom-hr {
    display: none;
    justify-content: space-between;
    align-items: center;
  }

  .symbol {
    position: relative;
    height: 8px; /* Adjust height as needed */
    display: none;
  }

  /* Set specific widths for symbols */
  .symbol.plus {
    width: 8px; /* Full plus symbol */
  }

  .symbol.half-plus {
    width: 4px; /* Half-plus symbols */
  }

  /* Vertical lines */
  .symbol::before {
    content: "";
    position: absolute;
    width: 1px; /* Thickness of the vertical line */
    height: 100%;
    background-color: var(--background-color-one); /* Adjust color as needed */
  }

  /* Position vertical lines */
  .symbol.plus::before {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  .symbol.half-plus.l::before {
    left: 0;
    top: 0;
  }

  .symbol.half-plus.r::before {
    right: 0;
    top: 0;
  }

  /* Horizontal lines */
  .symbol::after {
    content: "";
    position: absolute;
    height: 1px; /* Thickness of the horizontal line */
    background-color: var(--background-color-one); /* Adjust color as needed */
    top: 50%;
    transform: translateY(-50%);
  }

  /* Position horizontal lines */
  .symbol.plus::after {
    width: 100%;
    left: 0;
  }

  .symbol.half-plus.l::after {
    width: calc(100% - 1px); /* Subtract vertical line width */
    left: 1px; /* Start after vertical line */
  }

  .symbol.half-plus.r::after {
    width: calc(100% - 1px); /* Subtract vertical line width */
    left: 0; /* Start from left edge */
  }

  .alphsort {
    background-color: transparent;
    padding-left: 0;
    display: none;
  }

  .scroller {
    overflow-x: auto;
    background-color: transparent;
  }

  .scroller::-webkit-scrollbar {
    height: 2px;
  }

  .scroller::-webkit-scrollbar-thumb {
    background-color: var(--background-color-one);
    border-radius: 4px;
  }

  .scroller-content {
    display: flex;
  }

  .scroller-content li {
    list-style: none;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .scroller-content li:first-child {
    list-style: none;
    margin-left: 0;
  }

  .scroller-content a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    padding: 0 10px;
    border: 1px solid var(--background-color-one);
    background-color: transparent;
    color: var(--background-color-one);
    text-decoration: none;
    border-radius: 2px;
    white-space: nowrap;
    transition: background-color 0.1s;
  }

  .scroller-content a:hover {
    background-color: var(--background-color-one);
    color: var(--color-one);
  }

  .hljs {
    border-radius: 2px;
    font-family: JetBrains Mono, monospace;
    font-size: 13px;
    line-height: 1.5;
  }

  p,
  ol {
    color: var(--color-seven);
    font-size: 13px;
    line-height: 1.5;
  }

  ol,
  li {
    margin: 8px;
  }

  u {
    text-decoration: none;
  }

  table {
    width: 100%;
    table-layout: fixed;
  }

  table,
  th,
  td {
    border-collapse: collapse;
    font-size: 12.5px;
    height: 35px;
    border: 1;
  }

  .tableletters {
    background-color: var(--background-color-one);
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    height: 12.5px;
    border-top: 1px solid var(--background-color-one);
  }

  td.tableletters[data-number] {
    font-size: 0;
  }

  .expandable-row-content {
    display: none;
  }
  .clickable {
    cursor: pointer;
    color: var(--color-seven);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--background-color-one);
  }

  .datatype {
    border-bottom: 1px solid var(--background-color-one);
  }

  .clickable:hover {
    text-decoration: none;
  }

  .clickable::after {
    content: "[+]"; /* Plus sign, indicating expandable */
    font-size: 12px;
    color: var(--background-color-one);
  }

  .expanded::after {
    content: "[-]"; /* Minus sign, indicating collapsible */
    color: var(--color-twelve);
  }

  .clickable.expanded {
    color: var(--color-twelve);
  }

  .ascii-art {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--color-seven); /* Use the defined color variable */
    margin-left: 35%;
  }

  .mobile-ascii-art {
    display: none;
  }

  .endspace {
    margin-left: 3vw;
    margin-right: 3vw;
  }

  #mouse-square {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--color-eight);
    opacity: 0.85; /* Makes the square semi-transparent */
    pointer-events: none;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: left 0.1s ease-out, top 0.1s ease-out, transform 0.1s ease-out;
    mix-blend-mode: difference;
    z-index: 200;
  }

  /* Standard syntax */
  ::selection {
    background-color: var(--background-color-one);
    color: var(--color-twelve);
  }

  /* Mozilla Firefox */
  ::-moz-selection {
    background-color: var(--background-color-one);
    color: var(--color-twelve);
  }

  /* WebKit browsers (Chrome, Safari) */
  ::-webkit-selection {
    background-color: var(--background-color-one);
    color: var(--color-twelve);
  }
}

@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
  }

  html {
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: monospace, "Times New Roman", Times, serif;
    overscroll-behavior: contain;
  }

  body {
    touch-action: manipulation;
    margin: 0;
    background-color: var(--color-thirteen);
    overscroll-behavior: contain;
    min-height: 100%;
    overflow: hidden;
    z-index: -2;
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }

  body.no-scroll {
    overflow: hidden;
  }

  header,
  main {
    padding-left: 3vw;
    padding-right: 3vw;
  }

  [id] {
    scroll-margin-top: 90px;
  }

  .left-title {
    display: none;
  }

  .navigation-title {
    display: none;
  }

  .navigation-container {
    display: none;
  }

  .left-image {
    height: 175px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }

  #cubeCanvas {
    width: 100%;
    height: 100%;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
  }

  .brone {
    display: none;
  }

  .brtwo {
    display: none;
  }

  .noise {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;
    opacity: 0.05;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .bar {
    width: 10vw;
    height: 105vh;
    background: var(--background-color-one);
    margin: 0;
    padding: 0;
  }

  /* Menu Overlay Styles */
  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10; /* Adjust as needed */
    overflow: hidden;
    pointer-events: none; /* Disable interaction when menu is closed */
    background-color: transparent;
    transition: background-color 0.5s;
  }

  /* Menu Bar Styles */
  .menu-bar {
    position: absolute;
    top: 0;
    right: 0; /* Align to the right edge */
    width: 100%; /* Adjust as needed */
    height: 100%; /* Full height */
    transform: translateX(100%); /* Start off-screen to the right */
    z-index: 1; /* Below the menu content */
    overflow: hidden; /* Clip overflowing content */
  }
  .menu-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-left: 3vw;
    margin-right: 3vw;
  }

  .menu-line {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 8px;
    height: 125px;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in width */
    border: 1px solid var(--background-color-one);
    margin-bottom: 10px;
    background-color: var(--color-one);
  }

  /* Menu Title Styles */
  .menu-title {
    color: var(--background-color-one); /* Text color */
    font-size: 22.5px; /* Font size */
    margin: 10px 5px; /* Spacing around titles */
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }

  .menu-title.one {
    font-size: 45px; /* Font size */
    font-weight: bold;
  }

  .menu-bar {
    height: 100%;
  }

  .fixed-box button {
    height: 25px;
    width: 25px;
  }

  .fixed-box a.center-text {
    text-decoration: none;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #f2f2f2;
  }

  .fixed-box {
    position: fixed;
    border: 1px solid #f2f2f2;
    top: 20px;
    left: 3vw;
    right: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    padding-left: 6px;
    padding-right: 6px;
    height: 35px;
    mix-blend-mode: difference;
  }

  #darkModeButton {
    color: var(--color-fifteen);
    background-color: transparent;
    touch-action: manipulation;
    border: solid 1px #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .circle {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
  }

  .half {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    transition: background-color 0.2s ease;
  }

  .left {
    left: 0;
    border-right: none;
    border-left-width: 1px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }

  .right {
    right: 0;
    border-left: none;
    border-right-width: 1px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
  }

  .center-text {
    display: inline-block;
    cursor: pointer;
  }

  .fixed-box button {
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 1px solid #f2f2f2;
    touch-action: manipulation;
  }

  .burger {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  .square-container {
    position: relative;
    width: 20px;
    height: 20px;
  }

  .square-one,
  .square-two {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #f2f2f2;
  }

  /* Initial Positions */
  .square-one {
    left: 4px;
    top: 8px;
  }

  .square-two {
    left: 12px;
    top: 8px;
  }

  /* Keyframes for Square One */
  @keyframes moveSquareOne {
    0% {
      left: 4px;
      top: 8px;
    }
    25% {
      left: 5px;
      top: 7px;
    }
    50% {
      left: 6px;
      top: 6px;
    }
    75% {
      left: 7px;
      top: 5px;
    }
    100% {
      left: 8px;
      top: 4px;
    }
  }

  /* Keyframes for Square Two */
  @keyframes moveSquareTwo {
    0% {
      left: 12px;
      top: 8px;
    }
    25% {
      left: 11px;
      top: 9px;
    }
    50% {
      left: 10px;
      top: 10px;
    }
    75% {
      left: 9px;
      top: 11px;
    }
    100% {
      left: 8px;
      top: 12px;
    }
  }

  /* Reverse Keyframes for Square One */
  @keyframes moveSquareOneReverse {
    0% {
      left: 8px;
      top: 4px;
    }
    25% {
      left: 7px;
      top: 5px;
    }
    50% {
      left: 6px;
      top: 6px;
    }
    75% {
      left: 5px;
      top: 7px;
    }
    100% {
      left: 4px;
      top: 8px;
    }
  }

  /* Reverse Keyframes for Square Two */
  @keyframes moveSquareTwoReverse {
    0% {
      left: 8px;
      top: 12px;
    }
    25% {
      left: 9px;
      top: 11px;
    }
    50% {
      left: 10px;
      top: 10px;
    }
    75% {
      left: 11px;
      top: 9px;
    }
    100% {
      left: 12px;
      top: 8px;
    }
  }

  h2 {
    font-size: 18px;
    padding-top: 80px;
    padding-bottom: 20px;
    text-align: left;
    overflow: hidden;
    color: var(--color-seven);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
  }

  h3 {
    color: var(--color-seven);
    padding-top: 7.5px;
    padding-bottom: 20px;
    font-size: 14px;
  }

  h4 {
    color: var(--color-seven);
    padding-top: 20px;
    padding-bottom: 0;
    font-size: 14px;
  }

  a {
    color: var(--color-seven);
    text-decoration: none;
    font-size: 12.5px;
  }

  .custom-hr {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .symbol {
    position: relative;
    height: 8px; /* Adjust height as needed */
  }

  /* Set specific widths for symbols */
  .symbol.plus {
    width: 8px; /* Full plus symbol */
  }

  .symbol.half-plus {
    width: 4px; /* Half-plus symbols */
  }

  /* Vertical lines */
  .symbol::before {
    content: "";
    position: absolute;
    width: 1px; /* Thickness of the vertical line */
    height: 100%;
    background-color: var(--background-color-one); /* Adjust color as needed */
  }

  /* Position vertical lines */
  .symbol.plus::before {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  .symbol.half-plus.l::before {
    left: 0;
    top: 0;
  }

  .symbol.half-plus.r::before {
    right: 0;
    top: 0;
  }

  /* Horizontal lines */
  .symbol::after {
    content: "";
    position: absolute;
    height: 1px; /* Thickness of the horizontal line */
    background-color: var(--background-color-one); /* Adjust color as needed */
    top: 50%;
    transform: translateY(-50%);
  }

  /* Position horizontal lines */
  .symbol.plus::after {
    width: 100%;
    left: 0;
  }

  .symbol.half-plus.l::after {
    width: calc(100% - 1px); /* Subtract vertical line width */
    left: 1px; /* Start after vertical line */
  }

  .symbol.half-plus.r::after {
    width: calc(100% - 1px); /* Subtract vertical line width */
    left: 0; /* Start from left edge */
  }

  .alphsort {
    background-color: transparent;
    padding-left: 0;
  }

  .scroller {
    overflow-x: auto;
    background-color: transparent;
  }

  .scroller::-webkit-scrollbar {
    display: none;
    height: 2px;
  }

  .scroller::-webkit-scrollbar-thumb {
    display: none;
    background-color: var(--background-color-one);
    border-radius: 4px;
  }

  .scroller-content {
    display: flex;
  }

  .scroller-content li {
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .scroller-content li:first-child {
    list-style: none;
    margin-left: 0;
  }

  .scroller-content a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    padding: 0 10px;
    border: 1px solid var(--background-color-one);
    background-color: transparent;
    color: var(--background-color-one);
    text-decoration: none;

    white-space: nowrap;
    transition: background-color 0.1s;
  }

  .scroller-content a:hover {
    background-color: var(--background-color-one);
    color: var(--color-one);
  }

  .hljs {
    border-radius: 2px;
    font-size: 13px;
    line-height: 1.5;
  }

  p,
  ol {
    color: var(--color-seven);
    line-height: 1.5;
    font-size: 13px;
  }

  ol,
  li {
    margin: 8px;
  }

  .marquee-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 50px; /* Adjust the height as needed */
  }

  .marquee {
    display: flex;
    width: max-content;
    animation: marquee 60s linear infinite;
    filter: blur(2px);
    cursor: pointer;
    user-select: none; /* Prevents text selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* Internet Explorer and Edge */
    touch-action: none; /* Prevents default touch behaviors */
  }

  .update {
    white-space: nowrap;
    margin-right: 10px; /* Space between repeated texts */
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  table {
    width: 100%;
    table-layout: fixed;
  }

  table,
  th,
  td {
    border-collapse: collapse;
    padding: 6px;
    font-size: 12.5px;
    height: 35px;
    font-size: 13px;
  }

  .tableletters {
    color: var(--color-one);
    background-color: var(--background-color-one);
    border-top: 1px solid var(--background-color-one);
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
  }

  .expandable-row-content {
    display: none;
  }
  .clickable {
    cursor: pointer;
    color: var(--color-seven);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--background-color-one);
  }

  .datatype {
    border-bottom: 1px solid var(--background-color-one);
  }

  .clickable:hover {
    text-decoration: none;
  }

  .clickable::after {
    content: "[+]"; /* Plus sign, indicating expandable */
    font-size: 12px;
    color: var(--background-color-one);
  }

  .expanded::after {
    content: "[-]"; /* Minus sign, indicating collapsible */
    color: var(--color-twelve);
  }

  .clickable.expanded {
    color: var(--color-twelve);
  }

  .ascii-art {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--color-seven); /* Use the defined color variable */
  }

  .endspace {
    margin-left: 3vw;
    margin-right: 3vw;
  }
  header,
  main {
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .fixed-box {
    top: 20px;
    left: 3vw;
    right: 3vw;
    padding-left: 8px;
    padding-right: 8px;
    height: 40px;
  }

  .container {
    width: 94%;
  }

  .grid-container {
    grid-template-columns: repeat(10, 1fr);
    width: 94%;
  }

  table,
  th,
  td {
    padding: 8px;
  }

  h2 {
    padding-top: 85px;
    padding-bottom: 20px;
  }

  u {
    text-decoration: none;
  }

  .hljs {
    font-size: 13px;
  }

  .mobile-ascii-art {
    display: block;
    color: var(--background-color-one);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ascii-art {
    display: none;
  }

  .endspace {
    margin-left: 3vw;
    margin-right: 3vw;
  }
}
